<nav>
	<div class="menu">
		<div class="item-menu active">
			<a data-index='1'>
				<span class="icon-dot"></span>
				<p style="color:transparent;">Inicio</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index='2'>
				<span class="icon-quehacemos"></span>
				<p>¿qué hacemos?</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index="3">
				<span class="icon-equipo"></span>
				<p>el equipo</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index="4">
				<span class="icon-portfolio"></span>
				<p>portfolio</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index="5">
				<span class="icon-contacto"></span>
				<p>contacto</p>
			</a>
		</div>
	</div>

	<div class="iconos-sociales">
		<a href="https://www.facebook.com/dotestudiografico" target="_blank">
			<span class="icon-facebook"></span>
		</a>
		<a href="https://www.facebook.com/dotestudiografico" target="_blank">
			<span class="icon-twitter"></span>
		</a>
		<a href="https://www.facebook.com/dotestudiografico" target="_blank">
			<span class="icon-google"></span>
		</a>
		<a href="https://www.facebook.com/dotestudiografico" target="_blank">
			<span class="icon-behance"></span>
		</a>
		<a href="https://www.facebook.com/dotestudiografico" target="_blank">
			<span class="icon-skype"></span>
		</a>
	</div>
</nav>