<nav>
	<div class="menu2">
		<div class="item-menu active">
			<a data-index='1'>
				<span class="icon-problema"></span>
				<p>Problemática</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index='2'>
				<span class="icon-solucion"></span>
				<p>Solución</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index='3'>
				<span class="icon-como"></span>
				<p>¿Cómo?</p>
			</a>
		</div>
		<div class="item-menu">
			<a data-index='4'>
				<span class="icon-manos"></span>
				<p>¡Manos a la obra!</p>
			</a>
		</div>
	</div>
</nav>
