<div id="contacto">
	<h2>Contáctanos</h2>

	<div class="formulario">
		<form>
			<span class="input">
				<input class="input__field input__field--yoko" type="text" id="input-16" />
				<label class="input__label input__label--yoko" for="input-16">
					<span class="input__label-content input__label-content--yoko">Nombre</span>
				</label>
			</span>
			<span class="input">
				<input class="input__field input__field--yoko" type="text" id="input-17" />
				<label class="input__label input__label--yoko" for="input-17">
					<span class="input__label-content input__label-content--yoko">E-mail</span>
				</label>
			</span>
			<span class="input">
				<input class="input__field input__field--yoko" type="text" id="input-18" />
				<label class="input__label input__label--yoko" for="input-18">
					<span class="input__label-content input__label-content--yoko">Teléfono</span>
				</label>
			</span>
			<span class="input">
				<input class="input__field input__field--yoko" type="text" id="input-19" />
				<label class="input__label input__label--yoko" for="input-19">
					<span class="input__label-content input__label-content--yoko">Dirección</span>
				</label>
			</span>
			<span class="input mensaje">
				<textarea class="input__field input__field--yoko"  id="input-20"></textarea>
				<label class="input__label input__label--yoko" for="input-20">
					<span class="input__label-content input__label-content--yoko">Mensaje</span>
				</label>
			</span>

			<input type="submit" value="ENVIAR" />
		</form>

		<div class="msj-enviado">
			<span class="icon-form_avion"></span>
			<b>Tu mensaje ha sido enviado.</b>
			<p>Nos comunicaremos a la brevedad.</p>
		</div>
	</div>

	<div class="datos">
		<p>+54 381 <b>5 505 366</b></p>
		<p>+54 381 <b>6 684 873</b></p>
		<p><b>dotestudiografico</b>@gmail.com</p>
		<p>T4000ILC | <b>Tucumán</b> | Argentina</p>
		<p>Lun. a Vie. | de 9 a 18hs</p>
		<div class="iconos-sociales">
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-facebook"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-twitter"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-google"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-behance"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-skype"></span>
			</a>
		</div>
		<div class="codigo-qr">
			<%= image_tag("logo-dot.png", class: 'logo-contactos') %>
			<%= image_tag("qrcode.png", class: 'qr') %>
		</div>
	</div>
</div>





