<div id="contacto">
	<h2>Contáctanos</h2>

	<div class="formulario">
		<form>
			<div class="name campo">
				<input name="name" type="text">
				<span class="icon-form_nombre"></span>
			</div>
			<div class="email campo">
				<input name="email" type="email" />
				<span class="icon-form_mail"></span>
			</div>
			<div class="tel campo">
				<input name="tel" type="text" />
				<span class="icon-form_telefono"></span>
			</div>
			<div class="lugar campo">
				<input name="lugar" type="text" />
				<span class="icon-form_lugar"></span>
			</div>
			<div class="mensaje campo">
				<textarea></textarea>
				<span class="icon-form_mensaje"></span>
			</div>
			<input type="submit" value="ENVIAR" />
		</form>

		<div class="msj-enviado">
			<span class="icon-form_avion"></span>
			<b>Tu mensaje ha sido enviado.</b>
			<p>Nos comunicaremos a la brevedad.</p>
		</div>
	</div>

	<div class="datos">
		<p>+54 381 <b>5 505 366</b></p>
		<p>+54 381 <b>6 684 873</b></p>
		<p><b>dotestudiografico</b>@gmail.com</p>
		<p>T4000ILC | <b>Tucumán</b> | Argentina</p>
		<p>Lun. a Vie. | de 9 a 18hs</p>
		<div class="iconos-sociales">
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-facebook"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-twitter"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-google"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-behance"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-skype"></span>
			</a>
		</div>
	</div>
</div>







