<div id="contacto">
	<h2>Contáctanos</h2>

	<div class="formulario">
		<%= form_for @contact, url: new_contact_path(@contact), remote: true do |f| %>
			<span class="input input--nao">
				<input name="contact[nombre]" class="input__field input__field--nao" type="text" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Nombre</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input input--nao">
				<input name="contact[email]" class="input__field input__field--nao" type="text" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">E-mail</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input input--nao">
				<input name="contact[tel]" class="input__field input__field--nao" type="text" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Teléfono</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input input--nao">
				<input name="contact[address]" class="input__field input__field--nao" type="text" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Dirección</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input mensaje input--nao">
				<textarea name="contact[body]" class="input__field input__field--nao" rows="5" id="input-1"></textarea>
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Mensaje</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input submit">
				<input type="submit" value="ENVIAR" />
			</span>
		<% end %>

		<div class="msj-enviado">
			<span class="icon-form_avion"></span>
			<b>Tu mensaje ha sido enviado.</b>
			<p>Nos comunicaremos a la brevedad.</p>
		</div>
	</div>

	<div class="datos">
		<p>+54 381 <b>5 505 366</b></p>
		<p>+54 381 <b>6 684 873</b></p>
		<p><b>dotestudiografico</b>@gmail.com</p>
		<p>T4000ILC | <b>Tucumán</b> | Argentina</p>
		<p>Lun. a Vie. | de 9 a 18hs</p>
		<div class="iconos-sociales">
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-facebook"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-twitter"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-google"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-behance"></span>
			</a>
			<a href="https://www.facebook.com/dotestudiografico" target="_blank">
				<span class="icon-skype"></span>
			</a>
		</div>
		<div class="codigo-qr">
			<%= image_tag("logo-dot.png", class: 'logo-contactos') %>
			<%= image_tag("qrcode.png", class: 'qr') %>
		</div>
	</div>
</div>





