<div id="equipo">
	<h2>Nuestro <b>equipo</b></h2>
	<ul class="nosotros">

		<li class="adrian">
			<div class="skill skill-adrian">
				<%= image_tag("skill_ps.png") %>
				<%= image_tag("skill_ai.png") %>
				<%= image_tag("skill_id.png") %>
			</div>
			<%= image_tag("NOS_ADRIAN.png") %>
			<div class="info">
				<b>Adrián</b>
				<i>Diseño</i>
			</div>
		</li>

		<li class="ramiro">
			<div class="skill skill-ramiro">
				<%= image_tag("skill_html.png") %>
				<%= image_tag("skill_css.png") %>
				<%= image_tag("skill_bootstrap.png") %>
			</div>
			<%= image_tag("NOS_RAMIRO.png") %>
			<div class="info">
				<b>Ramiro</b>
				<i>Desarrollo</i>
			</div>
		</li>

		<li class="sebas">
			<div class="skill skill-sebas">
				<%= image_tag("skill_html.png") %>
				<%= image_tag("skill_css.png") %>
				<%= image_tag("skill_rails.png") %>
			</div>
			<%= image_tag("NOS_SEBAS.png") %>
			<div class="info">
				<b>Sebastián</b>
				<i>Desarrollo</i>
			</div>
		</li>

		<li class="maxi">
			<div class="skill skill-maxi">
				<%= image_tag("skill_ps.png") %>
				<%= image_tag("skill_ai.png") %>
				<%= image_tag("skill_dw.png") %>
			</div>
			<%= image_tag("NOS_MAXI.png") %>
			<div class="info">
				<b>Maxi</b>
				<i>Diseño</i>
			</div>
		</li>

	</ul>
</div>
