<div id="equipo">
	<h2>Nuestro <b>equipo</b></h2>
	<ul class="nosotros">
		<li class="adrian">
			<div class="img">
				<%= image_tag("NOS_ADRIAN.png") %>
			</div>
			<div class="info">
				<h3>Adrián</h3>
				<p>Diseño</p>
			</div>
			<div class="skill skill-adrian">
				<%= image_tag("skill_ps.png") %>
				<%= image_tag("skill_ai.png") %>
				<%= image_tag("skill_id.png") %>
			</div>
		</li>

		<li class="ramiro">
			<div class="img">
				<%= image_tag("NOS_RAMIRO.png") %>
			</div>
			<div class="info">
				<h3>Ramiro</h3>
				<p>Desarrollo</p>
			</div>
			<div class="skill skill-ramiro">
				<%= image_tag("skill_html.png") %>
				<%= image_tag("skill_css.png") %>
				<%= image_tag("skill_javascript.png") %>
			</div>
		</li>

		<li class="sebas">
			<div class="img">
				<%= image_tag("NOS_SEBAS.png") %>
			</div>
			<div class="info">
				<h3>Sebastián</h3>
				<p>Desarrollo</p>
			</div>
			<div class="skill skill-sebas">
				<%= image_tag("skill_html.png") %>
				<%= image_tag("skill_css.png") %>
				<%= image_tag("skill_rails.png") %>
			</div>
		</li>

		<li class="maxi">
			<div class="img">
				<%= image_tag("NOS_MAXI.png") %>
			</div>
			<div class="info">
				<h3>Maxi</h3>
				<p>Diseño</p>
			</div>
			<div class="skill skill-maxi">
				<%= image_tag("skill_ps.png") %>
				<%= image_tag("skill_ai.png") %>
				<%= image_tag("skill_dw.png") %>
			</div>
		</li>
	</ul>
	<span></span>
	<span class="reverse"></span>
</div>

<!--
<ul class="nosotros">
	<li class="adrian">
		<div class="item bg-adrian">
			<div class="info-wrap">
				<div class="info">
					<div class="info-front bg-adrian"></div>
					<div class="info-back">
						<b>Adrián</b>
						<i>Diseño</i>
					</div>
				</div>
			</div>
		</div>
		<div class="skill skill-adrian">
			<%= image_tag("skill_ps.png") %>
			<%= image_tag("skill_ai.png") %>
			<%= image_tag("skill_id.png") %>
		</div>
	</li>

	<li class="ramiro">
		<div class="item bg-ramiro">
			<div class="info-wrap">
				<div class="info">
					<div class="info-front bg-ramiro"></div>
					<div class="info-back">
						<b>Ramiro</b>
						<i>Desarrollo</i>
					</div>
				</div>
			</div>
		</div>
		<div class="skill skill-ramiro">
			<%= image_tag("skill_html.png") %>
			<%= image_tag("skill_css.png") %>
			<%= image_tag("skill_javascript.png") %>
		</div>
	</li>

	<li class="sebas">
		<div class="item bg-sebas">
			<div class="info-wrap">
				<div class="info">
					<div class="info-front bg-sebas"></div>
					<div class="info-back">
						<b>Sebastián</b>
						<i>Desarrollo</i>
					</div>
				</div>
			</div>
		</div>
		<div class="skill skill-sebas">
			<%= image_tag("skill_html.png") %>
			<%= image_tag("skill_css.png") %>
			<%= image_tag("skill_rails.png") %>
		</div>
	</li>

	<li class="maxi">
		<div class="item bg-maxi">
			<div class="info-wrap">
				<div class="info">
					<div class="info-front bg-maxi"></div>
					<div class="info-back">
						<b>Maxi</b>
						<i>Diseño</i>
					</div>
				</div>
			</div>
		</div>
		<div class="skill skill-maxi">
			<%= image_tag("skill_ps.png") %>
			<%= image_tag("skill_ai.png") %>
			<%= image_tag("skill_dw.png") %>
		</div>
	</li>
</ul>
-->