<div id="home">
	<div class="logo-home">
		<h1 class="logo">DOT</h1>
		<h2>en el punto <b>termina la ciencia</b> y <b>comienza la imaginación</b></h2>
	</div>
	<div class="scroll">
		<%= image_tag("scroll.png") %>
	</div>
</div>