<div id="portfolio">
	<span class="barra-lateral"></span>
	<ul class="muestra-trabajos">
		<li><a href="#">
			<div class="bg-blur img-1"></div>
			<div class="bg-trabajo img-1"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="#">
			<div class="bg-blur img-2"></div>
			<div class="bg-trabajo img-2"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="#">
			<div class="bg-blur img-3"></div>
			<div class="bg-trabajo img-3"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="#">
			<div class="bg-blur img-4"></div>
			<div class="bg-trabajo img-4"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="#">
			<div class="bg-blur img-5"></div>
			<div class="bg-trabajo img-5"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="#">
			<div class="bg-blur img-6"></div>
			<div class="bg-trabajo img-6"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
	</ul>
</div>

