<div id="portfolio">
	<span class="barra-lateral"></span>
	<ul class="muestra-trabajos">
		<li><a href="https://www.behance.net/gallery/25338935/PAKUA" target="_blank">
			<div class="bg-blur img-01"></div>
			<div class="bg-trabajo img-01"></div>
			<div class="nombre-trabajo">
				<h2>PAKUA</h2>
				<p>folletería institucional</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/24392917/Jorge-Asad-Fotografia" target="_blank">
			<div class="bg-blur img-02"></div>
			<div class="bg-trabajo img-02"></div>
			<div class="nombre-trabajo">
				<h2>JORGE ASAD</h2>
				<p>identidad visual</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23866861/Juan-Pablo-Diaz" target="_blank">
			<div class="bg-blur img-03"></div>
			<div class="bg-trabajo img-03"></div>
			<div class="nombre-trabajo">
				<h2>JUAN PABLO DÍAZ</h2>
				<p>identidad visual + packaging</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/24335047/Sexta-Bienal-Argentina-de-Fotografia-Documental" target="_blank">
			<div class="bg-blur img-04"></div>
			<div class="bg-trabajo img-04"></div>
			<div class="nombre-trabajo">
				<h2>SEXTA BIENAL DE FOTOGRAFÍA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23870329/Tuc-Musica-(Proyecto-universitario)" target="_blank">
			<div class="bg-blur img-05"></div>
			<div class="bg-trabajo img-05"></div>
			<div class="nombre-trabajo">
				<h2>TUCMÚSICA</h2>
				<p>identidad visual + web</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23849537/Micaela-Pinna-Ftografia-Edicion" target="_blank">
			<div class="bg-blur img-06"></div>
			<div class="bg-trabajo img-06"></div>
			<div class="nombre-trabajo">
				<h2>MICAELA PINNA</h2>
				<p>identidad visual</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23870215/Comotti-Pastas" target="_blank">
			<div class="bg-blur img-07"></div>
			<div class="bg-trabajo img-07"></div>
			<div class="nombre-trabajo">
				<h2>COMOTTI PASTAS</h2>
				<p>desarrollo web</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23872967/Mi-Cocina-Restaurante" target="_blank">
			<div class="bg-blur img-08"></div>
			<div class="bg-trabajo img-08"></div>
			<div class="nombre-trabajo">
				<h2>MI COCINA RESTAURANT</h2>
				<p>restyling de marca</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/23869627/Martina-Catering-Eventos" target="_blank">
			<div class="bg-blur img-09"></div>
			<div class="bg-trabajo img-09"></div>
			<div class="nombre-trabajo">
				<h2>MARTINA CATERING</h2>
				<p>branding + web</p>
			</div>
		</a></li>
		<li><a href="https://www.behance.net/gallery/24061627/Natu-Vliz" target="_blank">
			<div class="bg-blur img-10"></div>
			<div class="bg-trabajo img-10"></div>
			<div class="nombre-trabajo">
				<h2>NATU VÉLIZ TATTOO</h2>
				<p>branding</p>
			</div>
		</a></li>
	</ul>
</div>





