<div id="quehacemos">
	<h2>Nuestro <b>trabajo</b></h2>

	<ul class="servicios">
		<li>
			<%= image_tag("icon_diseño.png") %>
			<h3>Diseño <b>gráfico</b></h3>
			<p>Soluciones a problemas de comunicación de su empresa</p>
		</li>
		<li style="border-left:1px dashed #ddd; border-right:1px dashed #ddd;">
			<%= image_tag("icon_web.png") %>
			<h3>Desarrollo <b>web</b></h3>
			<p>Creamos sitios web que funcionan de verdad</p>
		</li>
		<li>
			<%= image_tag("icon_branding.png") %>
			<h3><b>Branding</b></h3>
			<p>Una imagen institucional que identifique y represente</p>
		</li>
	</ul>

	<ul class="iconos-quehacemos">
		<li><%= image_tag("skill_adobe-gris.png") %></li>
		<li><%= image_tag("skill_html-gris.png") %></li>
		<li><%= image_tag("skill_css-gris.png") %></li>
		<li><%= image_tag("skill_javascript-gris.png") %></li>
		<li><%= image_tag("skill_bootstrap-gris.png") %></li>
		<li><%= image_tag("skill_ruby-gris.png") %></li>
		<li><%= image_tag("skill_rails-gris.png") %></li>
		<li><%= image_tag("skill_github-gris.png") %></li>
	</ul>
</div>