<div class="swiper-container"><!-- INFO -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div class="info">

        <div class="portada job-comotti">
          <div class="degradado"></div>
        </div>

        <div class="head">
            <h1>Comotti Pastas</h1>
            <h3>desarrollo web</h3>
        </div>

        <div class="contenido">
            <p>Diseño y desarrollo de sitio web institucional para Comotti Pastas · Casa de comidas congeladas · <a href="http://comottipastas.com/" target="_blank">Visitar sitio</a></p>
        </div>

        <div class="share">
          <h3>COMPARTIR ESTE TRABAJO</h3>
          <a href="#" class="icon-facebookcircular"></a>
          <a href="#" class="icon-twittercircular"></a>
          <a href="#" class="icon-googlecircular"></a>
        </div>

        <div class="prevnext">
          <%= link_to (job_micapinna_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <a href="#" class="jobs"><div><span class="icon-portfolio"></span></div>PORTFOLIO</a>
          <%= link_to (job_micocina_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

        <div class="imagenes"><!-- IMAGENES -->
          <%= image_tag("job-comotti-1.png") %>
          <%= image_tag("job-comotti-2.png") %>
          <%= image_tag("job-comotti-3.png") %>
          <%= image_tag("job-comotti-4.png") %>
          <%= image_tag("job-comotti-5.png") %>
        </div><!-- FIN IMAGENES -->

        <div class="prevnext">
          <%= link_to (job_micapinna_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <a href="#" class="jobs"><div><span class="icon-portfolio"></span></div>PORTFOLIO</a>
          <%= link_to (job_micocina_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div><!-- INFO -->