<div class="swiper-container"><!-- INFO -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div class="info">

        <div class="portada job-micocina">
          <div class="degradado"></div>
        </div>

        <div class="head">
          <h1>Mi Cocina</h1>
          <h3>restyling de marca</h3>
        </div>

        <div class="contenido">
          <p>Restyling de marca para Mi Cocina Restaurant</p>
        </div>

        <div class="share">
          <h3>COMPARTIR ESTE TRABAJO</h3>
          <a href="#" class="icon-facebookcircular"></a>
          <a href="#" class="icon-twittercircular"></a>
          <a href="#" class="icon-googlecircular"></a>
        </div>

        <div class="prevnext">
          <%= link_to (job_comotti_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <%= link_to (webmobile_path), class: 'jobs' do %>
            <div><span class="icon-portfolio"></span></div>PORTFOLIO
          <% end %>
          <%= link_to (job_martina_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

        <div class="imagenes"><!-- IMAGENES -->
          <%= image_tag("job-micocina-1.png") %>
          <%= image_tag("job-micocina-2.png") %>
          <%= image_tag("job-micocina-3.png") %>
          <%= image_tag("job-micocina-4.png") %>
        </div><!-- FIN IMAGENES -->

        <div class="prevnext">
          <%= link_to (job_comotti_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <%= link_to (webmobile_path), class: 'jobs' do %>
            <div><span class="icon-portfolio"></span></div>PORTFOLIO
          <% end %>
          <%= link_to (job_martina_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div><!-- INFO -->