<div class="swiper-container"><!-- INFO -->
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div class="info">

        <div class="portada job-natuveliz">
          <div class="degradado"></div>
        </div>

        <div class="head">
          <h1>Natu Véliz</h1>
          <h3>branding</h3>
        </div>

        <div class="contenido">
          <p>Diseño de marca para Natu Véliz · Tattoo Artist</p>
        </div>

        <div class="share">
          <h3>COMPARTIR ESTE TRABAJO</h3>
          <a href="#" class="icon-facebookcircular"></a>
          <a href="#" class="icon-twittercircular"></a>
          <a href="#" class="icon-googlecircular"></a>
        </div>

        <div class="prevnext">
          <%= link_to (job_martina_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <%= link_to (webmobile_path), class: 'jobs' do %>
            <div><span class="icon-portfolio"></span></div>PORTFOLIO
          <% end %>
          <%= link_to (job_pakua_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

        <div class="imagenes"><!-- IMAGENES -->
          <%= image_tag("job-natuveliz-1.jpg") %>
          <%= image_tag("job-natuveliz-2.jpg") %>
          <%= image_tag("job-natuveliz-3.jpg") %>
        </div><!-- FIN IMAGENES -->

        <div class="prevnext">
          <%= link_to (job_martina_path), target:"_self" do %>
            <div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div>
          <% end %>
          <%= link_to (webmobile_path), class: 'jobs' do %>
            <div><span class="icon-portfolio"></span></div>PORTFOLIO
          <% end %>
          <%= link_to (job_pakua_path), target:"_self" do %>
            <div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div><!-- INFO -->



                    
                    <div class="head">
                    	
                    </div>
                    
                    <div class="contenido">
                    	
                    </div>
                    
                    <div class="share">
                    	<h3>COMPARTIR ESTE TRABAJO</h3>
                        <a href="#" class="icon-facebookcircular"></a>
                        <a href="#" class="icon-twittercircular"></a>
                        <a href="#" class="icon-googlecircular"></a>
                    </div>
                    
                    <div class="prevnext">
                    	<a href="job-martina.html" target="_self"><div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div></a>
                        <a href="#" class="jobs"><div><span class="icon-portfolio"></span></div>PORTFOLIO</a>
                        <a href="job-pakua.html" target="_self"><div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div></a>
                    </div>
                    
                	<div class="imagenes"><!-- IMAGENES -->
                    
                    	<img alt="imagen" src="img/portfolio/job_natuveliz/1.jpg" />
                        <img alt="imagen" src="img/portfolio/job_natuveliz/2.jpg" />
                        <img alt="imagen" src="img/portfolio/job_natuveliz/3.jpg" />
                        
                    </div><!-- FIN IMAGENES -->
                    
                    <div class="prevnext">
                    	<a href="job-martina.html" target="_self"><div class="prev"><div><span class="icon-prev"></span></div>PREVIO</div></a>
                        <a href="#" class="jobs"><div><span class="icon-portfolio"></span></div>PORTFOLIO</a>
                        <a href="job-pakua.html" target="_self"><div class="next"><div><span class="icon-next"></span></div>SIGUIENTE</div></a>
                    </div>
                    
                </div>
              
                
            </div>
        </div>
    </div><!-- INFO -->
    
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
    });
    </script>
    
    

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

    </body>
</html>
