<nav>
	<div  class="barra-menu-quehacemos">
		<div class="menu-oculto">
			<span class="icon-menu"></span>
			<p>MENÚ</p>
		</div>
		<div class="menu-visible">
			<div class="item-menu">
				<span class="icon-quehacemos"></span>
				<p>¿qué hacemos?</p>
			</div>
			<div class="item-menu">
				<span class="icon-equipo"></span>
				<p>el equipo</p>
			</div>
			<div class="item-menu">
				<span class="icon-portfolio"></span>
				<p>portfolio</p>
			</div>
			<div class="item-menu">
				<span class="icon-contacto"></span>
				<p>contacto</p>
			</div>
		</div>

		<div class="iconos-sociales">
			<span class="icon-facebook"></span>
			<span class="icon-twitter"></span>
			<span class="icon-google"></span>
			<span class="icon-behance"></span>
			<span class="icon-skype"></span>
		</div>
	</div>
</nav>


<div id="quehacemos">
</div>