<div id="web">
	<body class="white-bg">

		<section>
			<div id="problema"><!-- SECCION 1 -->
			  <div class="row">
			    <div class="col-centered">
			      <div class="texto">
			        ¿Realmente estoy <b>explotando</b> al <b>máximo</b> el <b>potencial</b> de mi negocio en internet?
			      </div>
			    </div>
			  </div>
			</div>
		</section>

		<section>
			<div id="solucion"><!-- SECCION 2 -->
			  <div class="row">
			      
			    <div class="col-centered">
			      <h1>Hay miles de <span>potenciales clientes</span> buscando su negocio en internet</h1>
			    </div>
			        
			    <div class="col-centered">
			      <p>Hoy internet ha pasado a ser una potente herramienta de venta y publicidad.</p>
			        <p>Miles de negocios invierten en publicidad en redes sociales o en internet, gracias a su bajo precio y masivo alcance</p>
			    </div>

			  </div>            
			</div><!-- FIN SECCION 2 -->
		</section>

		<section>
			<div id="como"><!-- SECCION 3 -->
			  
			  <div class="row">
			    <div class="col-centered">
			      <h1>Detectamos el problema y lo resolvemos con dos <span>herramientas principales</span></h1>
			    </div>
			  </div>
			  
			  <div class="row">
			    <div class="col-centered">

			      <div class="separador-como"></div>             

			      <div class="herramienta">
			        <div class="icono web"></div>
			        <h1>DESARROLLO WEB</h1>
			        <p>Creamos sitios que funcionan de verdad. Tenga la mejor sucursal virtual de su negocio en la web</p>
			      </div>
			        
			      <div class="separador"><div></div></div>
			        
			      <div class="herramienta">
			        <div class="icono social"></div>
			        <h1>SOCIAL MEDIA</h1>
			        <p>Las redes sociales son una gran herramienta de difusión, gracias a su bajo precio y masivo alcance</p> 
			      </div>
			    </div>
			  </div>    
			  
			</div><!-- FIN SECCION 3 -->
		</section>

		<section>
			<div id="contactoweb"><!-- SECCION 4 -->
			  <div class="row">
			    <div class="col-centered">
			      <h1>Contáctenos, sus <span>futuros clientes</span> lo esperan</h1>
			    </div>
			  </div>
			      
			  <div class="row">
			    <div class="col-centered">
			        
			      <div class="dot">
			        <div class="logo"></div>
			        <a href="http://dotestudiografico.com/" target="_self">www.<span>dotestudiografico</span>.com</a>
			      </div>
			      
			    </div>
			  </div>
			      
			      
			  <div class="row">
			      
			    <div class="col-centered">
			      <div class="confia">Ya <span>confían</span> en nosotros</div>
			    </div>
			          
			    <div class="col-centered">

			      <ul class="clientes">
			        <a href="http://www.trailingsat.com.ar/" target="_blank">
			          <li class="cliente-trailing"></li>
			        </a>
			        <a href="http://comottipastas.com/" target="_blank">
			          <li class="cliente-comotti"></li>
			        </a>
			        <a href="https://www.facebook.com/martinacatering?fref=ts" target="_blank">
			          <li class="cliente-martina"></li>
			        </a>
			        <a href="http://deunacompras.com/" target="_blank">
			          <li class="cliente-deuna"></li>
			        </a>
			        <a href="http://fotobienal.com.ar/Bienal_2014/index.php" target="_blank">
			          <li class="cliente-bienal"></li>
			        </a>  
			      </ul>
			          
			    </div>
			  </div>
			        
			</div><!-- FIN SECCION 4 -->
		</section>

	</body>
</div>