nav{
	position: fixed;
	top:0;
	left: 0;
	min-width: 85px;
	height: 100%;
	z-index: 999;
	padding-left: 20px;
	.menu{
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		font-family: Lato;
		.item-menu{
			cursor: pointer;
			opacity: 0.5;
			&.active{ opacity: 1; }
		}
		a{
			color: #fff;
		}
		span{font-size:28px;margin-bottom:2px;}
		p{
			font-size:14px;
			margin:2px 0;
			margin-left: 5px;
			font-weight:600;
			display: inline-block;
			height: 27px;
			vertical-align: middle;
			overflow: hidden;
			text-indent: -100%;
			transition: all 0.2s ease;
		}
		.item-menu:hover{
			opacity: 1;
			p{
				text-indent: 0;
			}
		}
		&.dark{
			a, .iconos-sociales span{
				color: #555;
			}
			.icon-dot{
				filter: brightness(0.5);
				-webkit-filter: brightness(0.5);
				-moz-filter: brightness(0.5);
				-o-filter: brightness(0.5);
				-ms-filter: brightness(0.5);
			}
		}
	}
	.iconos-sociales{
		display: none;
		position: absolute;
		bottom: 35px;
		span{
			font-size:24px;
			display: block;
			margin-top: 5px;
			color: #fff;
			opacity: 0.5;
			&:hover{opacity: 1;}
		}
	}
}