@font-face {
	font-family: 'dot';
	src:url('fonts/dot.eot?f8vpj1');
	src:url('fonts/dot.eot?#iefixf8vpj1') format('embedded-opentype'),
		url('fonts/dot.woff?f8vpj1') format('woff'),
		url('fonts/dot.ttf?f8vpj1') format('truetype'),
		url('fonts/dot.svg?f8vpj1#dot') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'dot';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-prev:before{content:"\e600";}
.icon-problema:before{content:"\e601";}
.icon-quehacemos:before{content:"\e602";}
.icon-skype:before{content:"\e603";}
.icon-slideder:before{content:"\e604";}
.icon-slideizq:before{content:"\e605";}
.icon-solucion:before{content:"\e606";}
.icon-twitter:before{content:"\e607";}
.icon-twittercircular:before{content:"\e608";}
.icon-googlecircular:before{content:"\e609";}
.icon-manos:before{content:"\e60a";}
.icon-next:before{content:"\e60b";}
.icon-portfolio:before{content:"\e60c";}
.icon-portfoliomobile:before{content:"\e60d";}
.icon-facebookcircular:before{content:"\e60e";}
.icon-form_avion:before{content:"\e60f";}
.icon-form_lugar:before{content:"\e610";}
.icon-form_mail:before{content:"\e611";}
.icon-form_mensaje:before{content:"\e612";}
.icon-form_nombre:before{content:"\e613";}
.icon-form_telefono:before{content:"\e614";}
.icon-google:before{content:"\e615";}
.icon-contacto:before{content:"\e616";}
.icon-equipo:before{content:"\e617";}
.icon-facebook:before{content:"\e618";}
.icon-como:before{content:"\e619";}
.icon-behance:before{content:"\e61a";}
.icon-dot:before{
	content:"inicio";
	background: url("DOT-logo.png") no-repeat;
	background-size: contain;
	color: transparent;
	font-size: 15px;
	top: -4px;
	position: relative;
}


*{
	list-style:none !important;
	text-decoration:none;
}

html,body{
	margin:0px;
	padding:0px;
	height:100%;
}


.red-bg   { background: url("bg_home.jpg") no-repeat; }
.white-bg { background: url("bg.jpg") no-repeat; }

.red-bg, .white-bg{
	background-size:100% 100%;
}

#home{
	height:100%;
	font-family: Lato;
	position:relative;
	.logo-home{
		padding-top:20%;
		h1.logo{
			margin:auto;
			text-indent: -100%;
			color: transparent;
			background: url("logo-dotestudio.png") no-repeat;
			background-size: 100%;
			height: 70px;
			width: 131px;
		}
		h2{
			margin:auto;
			margin-top: 35px;
			width: 400px;
			text-align: center;
			color: #FFFFFF;
			font-size: 30px;
			font-family: ubuntu;
			font-weight: 300;
			b{font-weight: 400;}
		}
	}
	.scroll{
		position: absolute;
		bottom: 30px;
		text-align: center;
		left: 0;
		right: 0;
	}
}



#quehacemos{
	height:100%;
	font-family: Lato;
	position:relative;
	h2{
		padding-top:50px;
		margin:0;
		text-align: center;
		color: #888888;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 300;
		b{font-weight: 400;}
	}
	ul.servicios{
		margin:auto;
		margin-top: 10%;
		width: 85%;
		max-width: 1020px;
		padding-left:0;
		li{
			display: inline-block;
			width: 33%;
			text-align: center;
			padding-top: 60px;
			padding-bottom: 20px;
			h3{
				font-size: 24px;
				text-transform: uppercase;
				color: #555555;
				font-weight: 400;
				b{font-weight: 700;}
			}
			p{
				font-size: 17px;
				color: #666666;
				font-weight: 300;
				width: 240px;
				margin: auto;
			}
		}
	}
	ul.iconos-quehacemos{
		position: absolute;
		bottom: 30px;
		text-align: center;
		left: 0;
		right: 0;
		padding-left:0;
		li{
			display:inline-block;
			padding:10px;
			vertical-align: middle;
		}
	}
}




#equipo{
	height:100%;
	font-family: Lato;
	h2{
		padding-top:50px;
		margin:0;
		text-align: center;
		color: #888888;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 300;
		b{font-weight: 400;}
	}
	ul.nosotros{
		max-width: 650px;
		max-height: 650px;
		position: relative;
		margin: auto;
		text-align: center;
		top: 15px;
		padding-left:0;
		background:url("cruz.png");
		background-size:cover;
		li{
			width: 29%;
			height: 29%;
			border-radius: 100%;
			position: absolute;
			.img{
				width: 100%;
				height: 100%;
				border-radius: 100%;
				position: absolute;
				top:0;
				left: 0;
				img{
					width: 100%;
					height: 100%;
					border-radius: 100%;
				}
			}
			.info{
				width: 100%;
				height: 100%;
				border-radius: 100%;
				text-align: center;
				position: absolute;
				top:0;
				left: 0;
				color: #fff;
				background: #333;
				background: rgba(0, 0, 0, 0.6);
				opacity: 0;
				pointer-events: none;
				-webkit-transition: all 0.35s ease-in-out;
				-moz-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
				h3{
					font-size: 19px;
					text-transform: uppercase;
					visibility: hidden;
					color: #fff;
					letter-spacing: 1px;
					font-weight: 400;
					margin-top: 30%;
					margin-bottom: 10px;
					text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
					-webkit-transition: all 0.35s ease-in-out;
					-moz-transition: all 0.35s ease-in-out;
					transition: all 0.35s ease-in-out;
				}
				p{
					font-size: 17px;
					font-style: italic;
					visibility: hidden;
					color: #BBB;
					width: 70%;
					margin: auto;
					margin-top: 10px;
					padding-top: 10px;
					border-top: 1px solid rgba(255, 255, 255, 0.5);
					-webkit-transition: all 0.35s ease-in-out;
					-moz-transition: all 0.35s ease-in-out;
					transition: all 0.35s ease-in-out;
				}
			}
		}
		li .img:before{
			position: absolute;
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50%;
			box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.6);
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}
		li:hover .info{opacity: 1;}
		li:hover .info h3{visibility: visible;}
		li:hover .info p{visibility: visible;}
		li .info h3{
		  -webkit-transform: translateX(-100%);
		  -moz-transform: translateX(-100%);
		  -ms-transform: translateX(-100%);
		  -o-transform: translateX(-100%);
		  transform: translateX(-100%);
		}
		li .info p{
		  -webkit-transform: translateX(100%);
		  -moz-transform: translateX(100%);
		  -ms-transform: translateX(100%);
		  -o-transform: translateX(100%);
		  transform: translateX(100%);
		}
		li:hover h3{
		  -webkit-transform: translateX(0);
		  -moz-transform: translateX(0);
		  -ms-transform: translateX(0);
		  -o-transform: translateX(0);
		  transform: translateX(0);
		}
		li:hover p{
		  -webkit-transform: translateX(0);
		  -moz-transform: translateX(0);
		  -ms-transform: translateX(0);
		  -o-transform: translateX(0);
		  transform: translateX(0);
		}

		.skill{
			transition: all 0.5s ease-in-out;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
		}


		li.adrian{
			top: 60px;
			left: 0;
			right: 0;
			margin: auto;
			.skill-adrian{
				opacity: 0;
				text-align: center;
				width: 100%;
				position: absolute;
				top: -26%;
				img{margin:0 3px;  width:22%;}
			}
		}
		li.ramiro{
			left: 60px;
			top: 0;
			bottom: 0;
			margin: auto;
			.skill-ramiro{
				opacity: 0;
				text-align: center;
				height: 91%;
				position: absolute;
				left: -26%;
				top: 0;
				bottom: 0;
				margin: auto;
				img{
					display:block;
					margin:10px auto;
					height:25.5%;
				}
			}
		}
		li.sebas{
			right: 60px;
			top: 0;
			bottom: 0;
			margin: auto;
			.skill-sebas{
				opacity: 0;
				text-align: center;
				height: 91%;
				position: absolute;
				right: -26%;
				top: 0;
				bottom: 0;
				margin: auto;
				img{
					display:block;
					margin:10px auto;
					height:25.5%;
				}
			}
		}
		li.maxi{
			bottom: 60px;
			left: 0;
			right: 0;
			margin: auto;
			.skill-maxi{
				opacity: 0;
				text-align: center;
				width: 100%;
				position: absolute;
				bottom: -26%;
				img{margin:0 3px;  width:22%;}
			}
		}

		li:hover .skill{opacity:1;}
	}
}


#portfolio{
	height:100%;
	font-family: Lato;
	background: #212630;
	overflow: scroll;
	overflow-y: hidden;
	.barra-lateral{
		background: -webkit-linear-gradient(left, #000 1%, rgba(255, 255, 255, 0) 100%);
		background: -moz-linear-gradient(left, #000 1%, rgba(255, 255, 255, 0) 100%);
		background: -o-linear-gradient(left, #000 1%, rgba(255, 255, 255, 0) 100%);
		background: -ms-linear-gradient(left, #000 1%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		height: 100%;
		width: 12%;
		z-index: 10;
		left: 0;
		top: 0;
	}
	ul.muestra-trabajos{
		margin:0;
		padding:0;
		height: 100%;
		width: 168%;
		li{
			display: inline-block;
			position:relative;
			width: 20%;
			/*width: 33.3333%;*/
			height: 50%;
			margin:-1px -2px;
			.bg-blur{
				opacity: 0;
				display: block;
				float: left;
				transition: all 0.3s linear;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				-ms-transition: all 0.3s linear;
			}
			.bg-trabajo, .bg-blur{
				background-size:cover !important;
				background-position: center !important;
				background-repeat:no-repeat;
				width: 100%;
				height: 100%;
			}
			.nombre-trabajo{
				position:absolute;
				bottom:20px;
				right:30px;
				color: #fff;
				text-shadow: 0px 2px 4px #000;
				text-align: right;
				opacity: 0;
				transition: 0.5s linear;
				-webkit-transition: 0.5s linear;
				-moz-transition: 0.5s linear;
				-o-transition: 0.5s linear;
				-ms-transition: 0.5s linear;
				h2{
					font-weight:400;
					font-size:32px;
					margin:0;
				}
				p{
					font-weight:400;
					font-size:18px;
					margin:0;
				}
			}
		}

		.bg-trabajo.img-01{background:url("portfolio01.jpg");}
		.bg-trabajo.img-02{background:url("portfolio02.jpg");}
		.bg-trabajo.img-03{background:url("portfolio03.jpg");}
		.bg-trabajo.img-04{background:url("portfolio04.jpg");}
		.bg-trabajo.img-05{background:url("portfolio05.jpg");}
		.bg-trabajo.img-06{background:url("portfolio06.jpg");}		.bg-trabajo.img-03{background:url("portfolio03.jpg");}
		.bg-trabajo.img-07{background:url("portfolio07.jpg");}
		.bg-trabajo.img-08{background:url("portfolio08.jpg");}
		.bg-trabajo.img-09{background:url("portfolio09.jpg");}
		.bg-trabajo.img-10{background:url("portfolio10.jpg");}

		.bg-blur.img-01{background:url("portfolio01-blur.jpg");}
		.bg-blur.img-02{background:url("portfolio02-blur.jpg");}
		.bg-blur.img-03{background:url("portfolio03-blur.jpg");}
		.bg-blur.img-04{background:url("portfolio04-blur.jpg");}
		.bg-blur.img-05{background:url("portfolio05-blur.jpg");}
		.bg-blur.img-06{background:url("portfolio06-blur.jpg");}
		.bg-blur.img-07{background:url("portfolio07-blur.jpg");}
		.bg-blur.img-08{background:url("portfolio08-blur.jpg");}
		.bg-blur.img-09{background:url("portfolio09-blur.jpg");}
		.bg-blur.img-10{background:url("portfolio10-blur.jpg");}

		li:hover{
			.bg-blur{ opacity: 1;}
			.nombre-trabajo{opacity:1;}
		}
	}
}


#contacto{
	height:100%;
	background: #212630;
	text-align:center;
	font-family: Lato;
	h2{
		padding-top:50px;
		margin:0;
		text-align: center;
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 300;
	}
	.formulario{
		display: inline-block;
		height: 510px;
		border-right:1px solid #272d39;
		width: 370px;
		padding-right: 45px;
		margin-top: 27px;
		form{
			position:relative;
			width: 370px;
			height: 500px;
			.input--filled .input__label{
				color: #6a7989;
			}
			.input--filled .graphic--nao{
				stroke: #92989e;
			}
			textarea{
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				resize: none;	
			}
			input[type="submit"]{
				background:#E73D3E;
				font-weight: 700;
				font-size: 12px;
				color: #862120;
				height: 42px;
				width: 100%;
				border: none;
				&:hover{background:#C53332;color:#6A1C1B;}
			}
		}
		.msj-enviado{
			display: none;
			color:#757C99;
			font-size: 15px;
			span{
				display: block;
				font-size: 45px;
				margin-bottom: 15px;
			}
			b{font-weight:700;text-transform: uppercase;}
			p{font-weight:300;margin-top: 8px;}
		}
	}
	.datos{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		padding-left: 45px;
		width: 260px;
		height: 459px;
		margin-top: 70px;
		position: relative;
		p{
			font-size: 15px;
			color: #C0C0C0;
			margin: 0;
			line-height: 28px;
			font-weight: 300;
			b{font-weight:700;} 
		}
		.iconos-sociales{
			margin-left: -8px;
			margin-top: 30px;
			span{
				margin-right: 5px;
				display: inline-block;
				color: #1D1F26;
				font-size: 30px;
				&:hover{color:#757C99;}
			}
		}
		.codigo-qr{
			width: 100px;
			text-align: center;
			position:absolute;
			bottom:-6px;
			.logo-contactos {
			  width: 55px;
			  margin-bottom: 10px;
			}
			.qr{width:100px;}
		}
	}
}


@media only screen and (min-width: 1200px) and (max-width: 1366px){
	#home .logo-home{
		padding-top:0;
		position: absolute;
		height: 178px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	#quehacemos ul.servicios{
		position: absolute;
		height: 255px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		li{
			padding-top:20px;
			padding-bottom:20px;
		}
	}

}

@media only screen and (min-height: 900px){
	#equipo ul.nosotros{margin-top: 4%;}
	#contacto h2{margin-bottom:4%;}
}

@media only screen and (max-height: 600px) {
	#equipo ul.nosotros li .info{
		h3{
			margin-top: 30%;
			margin-bottom: 5px;
			font-size: 16px;
		}
		p{
			font-size: 14px;
			padding-top: 5px;
			margin-top: 7px;
		}
	}
}



